In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('Final2.csv')

In [8]:
df = df.drop(columns='Unnamed: 0')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185652 entries, 0 to 185651
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185652 non-null  int64
 1   Product           185652 non-null  object
 2   Quantity Ordered  185652 non-null  int64
 3   Price Each        185652 non-null  float64
 4   Order Date        185652 non-null  datetime64[ns]
 5   Purchase Address  185652 non-null  object
 6   Month             185652 non-null  int64
 7   Sales             185652 non-null  float64
 8   City              185652 non-null  object
 9   Hour              185652 non-null  int64
 10  State-Expanded    185652 non-null  object
 11  Customer ID       185652 non-null  object
 12  Month_expanded    185652 non-null  object
 13  day               185652 non-null  int64
 14  dow               185652 non-null  object
 15  Year              185652 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(7)
memory usage: 22.7+ MB

In [14]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [19]:
df = df.sort_values('Order Date')

In [20]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address', 'Month', 'Sales', 'City', 'Hour', 'State-Expanded',
       'Customer ID', 'Month_expanded', 'day', 'dow', 'Year'],
      dtype='object')

In [22]:
N_col_name = {'State-Expanded': 'States',
                    'Month_expanded': 'Month',
                    'day': 'Day',
                    'dow': 'Day of week'}

df = df.rename(columns=N_col_name)

In [24]:
df['Year'].unique()

array([2019], dtype=int64)

In [25]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,States,Customer ID,Month,Day,Day of week,Year
142874,147268,Wired Headphones,1,11.99,2019-01-01 03:07:00,"9 Lake St, New York City, NY 10001",1,11.99,New York City,3,New York,4e6b30d0,January,1,Tuesday,2019
143680,148041,USB-C Charging Cable,1,11.95,2019-01-01 03:40:00,"760 Church St, San Francisco, CA 94016",1,11.95,San Francisco,3,California,86346a11,January,1,Tuesday,2019
145024,149343,Apple Airpods Headphones,1,150.00,2019-01-01 04:56:00,"735 5th St, New York City, NY 10001",1,150.00,New York City,4,New York,048476fe,January,1,Tuesday,2019
145673,149964,AAA Batteries (4-pack),1,2.99,2019-01-01 05:53:00,"75 Jackson St, Dallas, TX 75001",1,2.99,Dallas,5,Texas,0c556f65,January,1,Tuesday,2019
145031,149350,USB-C Charging Cable,2,11.95,2019-01-01 06:03:00,"943 2nd St, Atlanta, GA 30301",1,23.90,Atlanta,6,Georgia,747d09aa,January,1,Tuesday,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1903,297481,AA Batteries (4-pack),1,3.84,2019-12-31 23:42:00,"82 Hill St, Dallas, TX 75001",12,3.84,Dallas,23,Texas,61680ff4,December,31,Tuesday,2019
2852,298406,AAA Batteries (4-pack),2,2.99,2019-12-31 23:42:00,"30 Elm St, San Francisco, CA 94016",12,5.98,San Francisco,23,California,bd978733,December,31,Tuesday,2019
22199,317048,AAA Batteries (4-pack),2,2.99,2019-12-31 23:45:00,"743 Adams St, San Francisco, CA 94016",12,5.98,San Francisco,23,California,c25c4e15,December,31,Tuesday,2019
14650,309773,AAA Batteries (4-pack),1,2.99,2019-12-31 23:52:00,"60 Hickory St, Los Angeles, CA 90001",12,2.99,Los Angeles,23,California,fca50d16,December,31,Tuesday,2019
2106,297674,AAA Batteries (4-pack),1,2.99,2019-12-31 23:53:00,"425 Lake St, Portland, OR 97035",12,2.99,Portland,23,Oregon,5b85ef9e,December,31,Tuesday,2019